{% from 'bootstrap/form.html' import render_form %}
{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="jumbotron-fluid">
    <div class="px-3 py-2 bg-light rounded-3">
        <h1 class="display-5 fw-bold">Contact</h1>
        <div class="container-fluid py-2">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ render_form(form, button_map={"submit": "success"}) }}
        </div>
    </div>
</div>
{% endblock %}