{% extends 'base.html' %}
{% block title %}Thank You{% endblock %}
{% block content %}
<div class="jumbotron py-0">
    <div class="alert alert-success" role="alert">
        <h1 class="display-4">Thank you!</h1>
    </div>
    <p class="lead my-5">We appreciate your kindness! If you have any questions, please email
        <a href="mailto:orders@elephant.com">orders@elephant-raiser.com</a> or <a class="text-success"
                                                                                  href="{{ url_for('contact') }}">contact</a>
        us.</p>
    <img class="img-success rounded float-right" src="{{ url_for('static', filename='img/elephant-success.png') }}">
    <hr class="my-5">
    <p>Elephant Raiser for all kinds of and this payment method is just for testing purpose. </p>
    <p class="lead my-5">
        <a class="btn btn-info btn-lg" href="{{ url_for('home') }}" role="button">Return to Home</a>
    </p>
</div>
{% endblock %}
